<div class="container-fluid col-4 mt-5">
    <h2 class="text-center">Recuperação de senha</h2>
    <p class="">Digite uma senha forte, com pelo menos 1 letra maiúscula, 1 letra minúscula e 1 número.</p>
  <form [formGroup]="formulario" (ngSubmit)="enviarDados()">
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Nova senha</label>
        <input type="text" id="password" name="password" formControlName="password" class="form-control" />
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Confirmar senha</label>
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="form-control" />
      </div>
      <div class="d-flex flex-row justify-content-between align-items-baseline">
        <button type="submit" class="btn btn-primary h-25 btn-block">Recuperar Senha</button>
      </div>
    </form>
  </div>