@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: bl;
    pointer-events: none;
    transition: .5s;
}

button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
    padding: 5px 10px;
}

button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.container {
    position: absolute;
    font-family: 'roboto';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 400px;
    width: 400px;
    margin: 0 auto;
    border-radius: 20px;
    transition: all .3s;
}

.card2 {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(15, 45, 70, 0.3);
}

.bv-text {
    margin-bottom: 5%;
    text-align: center;
}

.button-group {
    margin-top: 25%;
    display: flex;
    justify-content: space-between;
}