<div class="d-flex flex-column-reverse justify-content-center align-items-center col-10 mx-auto flex-xxl-row flex-xl-row flex-lg-column-reverse flex-md-column-reverse flex-sm-column-reverse">
<div class="col-12 col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12 mx-auto my-5">
    <form>
        <div class="input-group mb-3">
            <input type="number" class="form-control mr-1" placeholder="Numero do cartão" id="numeroCartao" name="numeroCartao" formControlName="numeroCartao" aria-label="numeroCartao">
          </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control mr-1" placeholder="Código de segurança" id="codigoSeguranca" name="codigo" formControlName="codigo" aria-label="numeroCartao">
          <input type="text" class="form-control ml-1" placeholder="Nome do titular" id="Nome" name="Nome" formControlName="Nome">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control mr-1" placeholder="CPF" id="CPF" name="CPF" formControlName="CPF" aria-label="CPF">
          <input type="text" class="form-control ml-1" placeholder="Numero do quarto" id="Numero do quarto" name="Numero do quarto" formControlName="numerodoquarto" aria-label="Numero do quarto">
        </div>
          <div class="d-flex col-8 mx-auto flex-row justify-content-between align-items-baseline">
            <button type="button" class="btn btn-success h-25 m-0 btn-block"> <a routerLink="/signin" style="color:black;text-decoration:none">Realizar reserva</a></button>
          </div>
        </form>
</div>
<div class="card mx-auto my-5 col-12 col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12" style="width: 18rem;">
    <img src="https://picsum.photos/200/300" class="card-img-top w-100 imageCard img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quarto tal tal tal talta </h5>
      <p class="card-text">Data entrada: 20/10/2022</p>
      <p class="card-text">Data entrada: 30/10/2022</p>
    </div>
  </div>
</div>

