<app-header></app-header>
<div *ngIf="quarto != null" 
  class="d-flex flex-column-reverse justify-content-center align-items-center col-10 mx-auto flex-xxl-row flex-xl-row flex-lg-column-reverse flex-md-column-reverse flex-sm-column-reverse">
  <div class="col-12 col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12 mx-auto my-5">
    <form [formGroup]="formulario" (ngSubmit)="enviarDados()">
      <div class="input-group mb-3">
        <input type="number" class="form-control mr-1" placeholder="Numero do cartão" id="numeroCartao"
          name="numeroCartao" formControlName="numeroCartao" aria-label="numeroCartao"
          [class.is-invalid]="formulario.controls['numeroCartao'].invalid && formulario.controls['numeroCartao'].touched" />
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control mr-1" placeholder="Código de segurança" id="codigoSeguranca"
          name="codigo" formControlName="codigo" aria-label="numeroCartao"
          [class.is-invalid]="formulario.controls['codigo'].invalid && formulario.controls['codigo'].touched" />
        <input type="text" class="form-control ml-1" placeholder="Nome do titular" id="Nome" name="Nome"
          formControlName="Nome"
          [class.is-invalid]="formulario.controls['Nome'].invalid && formulario.controls['Nome'].touched" />
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control mr-1" placeholder="CPF" id="CPF" name="CPF" formControlName="CPF"
          aria-label="CPF"
          [class.is-invalid]="formulario.controls['CPF'].invalid && formulario.controls['CPF'].touched" />
        <input type="text" disabled class="form-control ml-1" placeholder="Numero do quarto: {{quarto.number}}" id="Numero do quarto"
          name="Numero do quarto" aria-label="Numero do quarto">
      </div>
      <div class="d-flex col-8 mx-auto flex-row justify-content-between align-items-baseline">
        <button type="submit" class="btn btn-success h-25 m-0 btn-block" [disabled]="!formulario.valid"> Realizar reserva</button>
      </div>
    </form>
  </div>
  <div class="card mx-auto my-5 col-12 col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{quarto.name}} </h5>
      <p class="card-text">Data entrada: {{informacaoService[0]}} 12:00:00 Hrs</p>
      <p class="card-text">Data de saida: {{informacaoService[1]}} 12:00:00 Hrs</p>
      <p class="card-text">Valor total: R$ {{informacaoService[3]}}</p>
    </div>
  </div>
</div>

<ng-template>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>