<!-- <div class="contato">
    <div class="conteiner-img">
        <div class="img"></div>
    </div>

    <div class="container-ajd">
        <h1>Você está precisando de ajuda?</h1>
        <h3>Em caso de dúvidas, deixe uma mensagem que em breve entraremos em contato com você.</h3>
    </div>

    <div class="container-horarios">
        <div class="card">
            <div class="card2">
                <div class="horario">
                    <h2>Horário de Funcionamento</h2>
                    <div class="dias">
                        <div class="dia">
                            <span>Domingo</span><span>aberto 24hrs</span>
                        </div>
                        <div class="dia">
                            <span>Segunda-feira</span><span>aberto 24hrs</span>
                        </div>
                        <div class="dia">
                            <span>Terça-feira</span><span>aberto 24hrs</span>
                        </div>
                        <div class="dia">
                            <span>Quarta-feira</span><span>aberto 24hrs</span>
                        </div>
                        <div class="dia">
                            <span>Quinta-feira</span><span>aberto 24hrs</span>
                        </div>
                        <div class="dia">
                            <span>Sexta-feira</span><span>aberto 24hrs</span>
                        </div>
                        <div class="dia">
                            <span>Sábado</span><span>aberto 24hrs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-contato">
        <div class="card">
            <div class="card2">
                <form>
                    <span>teste</span>
                    <span>teste</span>
                    <span>teste</span>
                    <span>teste</span>
                    <button type="submit">Enviar</button>
                </form>

            </div>
        </div>
    </div>
</div> -->

<div class="Contato">
    <div class="ContatoImage">
        <img src="https://th.bing.com/th/id/R.2d5ab504020f0f21714f3e9cb6327cca?rik=DHV3rKoZ3pmn7w&pid=ImgRaw" alt="">
    </div>
    <div class="ContatoText">
        <div class="TextHeader">
            <h2>Você esta precisando de ajuda?</h2>
        </div>
        <div class="TextBody">
            <p>Em caso de dúvidas, deixe uma mensagem que em breve entraremos em contato com você</p>
        </div>
    </div>
    <div class="BodyContato">
        <div class="HorarioContainer">
            <div class="HorarioHeader">
                <h2>Horário de funcionamento</h2>
            </div>
            <div class="HorarioBody">
                <div class="TextDia">
                    <ul>
                        <li>Domingo</li>
                        <li>Segunda-feira</li>
                        <li>Terça-feira</li>
                        <li>Quarta-feira</li>
                        <li>Quinta-feira</li>
                        <li>Sexta-feira</li>
                        <li>Sabado</li>
                    </ul>
                </div>
                <div class="TextHora">
                    <ul>
                        <li>Aberto 24Horas</li>
                        <li>Aberto 24Horas</li>
                        <li>Aberto 24Horas</li>
                        <li>Aberto 24Horas</li>
                        <li>Aberto 24Horas</li>
                        <li>Aberto 24Horas</li>
                        <li>Aberto 24Horas</li>
                    </ul>
                </div>
            </div>
        </div>
        <form action="" class="FormConteiner">
            <div class="FormLayerUm">
                <div class="FormName">
                    <input type="text">
                </div>
                <div class="FormSobrenome">
                    <input type="text">
                </div>
            </div>
            <input type="text">
            <input type="text">
            <button> Clique aqui</button>
        </form>
    </div>
</div>