<app-header></app-header>
<div class="container-fluid d-flex flex-column p-0 m-0">
    <div class="col-12 p-0 m-0 mb-5">
        <img class="img-fluid" src="https://th.bing.com/th/id/R.2d5ab504020f0f21714f3e9cb6327cca?rik=DHV3rKoZ3pmn7w&pid=ImgRaw" alt="">
    </div>
    <div class="text-center col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-8 col-sm-8 col-sm-8 m-auto mb-5">
        <h1 class="text-center">Você está precisando de <br> ajuda?</h1>
        <p class="h4 text-center">Em caso de dúvidas, deixe uma mensagem que em breve entraremos em contato com você.</p>
    </div>
    <div class="col-12 mb-3 d-flex flex-xxl-row justify-content-xxl-around flex-xl-row justify-content-xl-around flex-lg-column justify-content-lg-around flex-md-column justify-content-md-center flex-sm-column flex-column justify-content-sm-center justify-content-around align-items-center flex-wrap">
        <div class="card col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-8 col-sm-8 col-sm-8">
            <h5 class="card-title text-center mt-4">Horário de Funcionamento</h5>
            <div class="card-body">
              <div class="row ">
                <div class="col-6">
                  <ul class="list-group">
                    <li class="list-group-item border-0">Domingo</li>
                    <li class="list-group-item border-0">Segunda-feira</li>
                    <li class="list-group-item border-0">Terça-feira</li>
                    <li class="list-group-item border-0">Quarta-feira</li>
                    <li class="list-group-item border-0">Quinta-feira</li>
                    <li class="list-group-item border-0">Sexta-feira</li>
                    <li class="list-group-item border-0">Sabado</li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="list-group aberto">
                    <li class="list-group-item border-0">24 horas</li>
                    <li class="list-group-item border-0">24 horas</li>
                    <li class="list-group-item border-0">24 horas</li>
                    <li class="list-group-item border-0">24 horas</li>
                    <li class="list-group-item border-0">24 horas</li>
                    <li class="list-group-item border-0">24 horas</li>
                    <li class="list-group-item border-0">24 horas</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <app-message-error *ngIf="showModal"></app-message-error>
        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12 text-center m-2">
          <h1>Está com dúvida?</h1>
          <p>Deixe neste formulário seu contato, entraremos em contato com você em breve.</p>
          <form [formGroup]="formulario" (ngSubmit)="EnviarDados()">
          <div class="input-group mb-3">
            <input type="text" class="form-control mr-1" name="nome" id="nome" formControlName="nome" placeholder="Nome" aria-label="Nome">
            <input type="text" class="form-control ml-1" placeholder="Telefone" formControlName="telefone" name="telefone" aria-label="Telefone">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" formControlName="email" id="email" name="email" aria-label="Email">
          </div>
          
          <div class="input-group">
            <textarea class="form-control" formControlName="descricao" id="descricao" name="descricao" placeholder="Digite sua mensagem aqui" aria-label="With textarea"></textarea>
          </div>
         <button class="btn btn-primary mt-3">Enviar</button>
      </form>
        </div>
    </div>