<div class="container-fluid p-2 d-flex flex-column border-bottom border-2" style="background-color: #ffff">
    <div class="d-flex flex-row justify-content-between">
      <div class="col-8 d-flex m-auto justify-content-xxl-around justify-content-xl-around justify-content-lg-around justify-content-md-center justify-content-sm-center align-items-baseline flex-wrap flex-row flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-sm-column">
        <div class="m-2">
          <a routerLink="/administrador" class="h4">Gerenciar Quartos</a>
        </div>
        <div class="m-2">
          <a routerLink="/" class="h4">Criar Reserva</a>  
        </div>
        <div class="m-2">
          <a routerLink="/sobre" class="h4">Listar Reservas</a>
        </div>
      </div>
      <div class="m-2">
        <button class="btn btn-danger" routerLink="/login/administracao">Sair</button>
      </div>
    </div>
</div>
  