<footer class="d-flex align-items-baseline flex-wrap" style="background-color: #dbd8e3">
    <div class="text-center col-6 p-3 d-flex flex-row justify-content-center align-items-baseline flex-wrap">
     <div>
        <h2>Booking</h2>
     </div>
     <div class="mx-3">
        <p>  Designed by watows</p>
     </div>
     <div>
        &copy; 2023
     </div>
    </div>
    <div class="text-center col-6 p-3 d-flex flex-row justify-content-center align-items-center flex-wrap">
        <div>
            <h4>Follow Us</h4>
        </div>
        <div>
            <img class="icon mx-2" src="../../../assets/facebook.png" alt="">
        </div>
        <div>
            <img class="icon mx-2" src="../../../assets/instagram.png" alt="">
        </div>
        <div>
            <img class="icon mx-2" src="../../../assets/linkedin.png" alt="">
        </div>
    </div>
    <!-- Copyright -->
  </footer>