<app-header></app-header>
<div class="col-10 mx-auto m-5">

    <div class="md-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal text-center">Quem somos</h1>
        <p class="lead font-weight-normal">Convidamos você a conferir pessoalmente nossas acomodações e desfrutar de
            tudo o que nosso hotel tem a oferecer. Seja para uma viagem de negócios, uma escapada romântica ou férias em
            família, temos o espaço perfeito para atender às suas necessidades. Nossa equipe dedicada estará à sua
            disposição para garantir que cada momento da sua estadia seja excepcional.</p>
    </div>

    <div class="container col-xxl-10 my-5">
        <div class="row flex-lg-row-reverse align-items-center ">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://images.prismic.io/guararapes/94655905-8d93-4b1a-92d0-2b68cdebfa8b_quarto+de+casal+azul.png?auto=compress%2Cformat&fit=max&q=50"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="200" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-7 fw-bold text-body-emphasis lh-1 mb-3">Acomodações</h1>
                <p class="lead">Não perca a oportunidade de experimentar o luxo e o conforto que oferecemos. Venha
                    desfrutar de uma estadia inesquecível em nosso hotel e permita-nos cuidar de você enquanto você cria
                    memórias preciosas. Estamos ansiosos para recebê-lo(a) em breve!
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/acomodacoes">Conferir Acomodações </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-xxl-10 my-5">
        <div class="row flex-lg-row-reverse align-items-center ">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/81/f4/15/hotel-praia-dourada.jpg?w=700&h=-1&s=1"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="200" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-7 fw-bold text-body-emphasis lh-1 mb-3">Sobre</h1>
                <p class="lead">Não perca a oportunidade de conhecer mais sobre nós e descobrir por que somos uma
                    escolha tão especial para viajantes exigentes. Acesse nossa página e mergulhe na experiência que
                    aguarda por você. Estamos ansiosos para recebê-lo em nosso hotel e proporcionar momentos
                    inesquecíveis.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/sobre">Sobre o Booking</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-xxl-10 my-5">
        <div class="row flex-lg-row-reverse align-items-center ">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://portais.univasf.edu.br/reitoria/imagens/03756058d18f4250bfeac9f5074209f1.png"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="200" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-7 fw-bold text-body-emphasis lh-1 mb-3">Contato</h1>
                <p class="lead">Se você gostou das nossas acomodações e deseja entrar em contato para reservar sua
                    próxima estadia ou para qualquer outra consulta, nossa equipe de reservas terá prazer em ajudar.
                    Estamos ansiosos para recebê-lo de volta ao nosso hotel e tornar sua estadia verdadeiramente
                    inesquecível. Entre em contato conosco hoje mesmo e descubra por que somos a escolha perfeita para
                    viajantes exigentes como você.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/contato">Contato</button>
                </div>
            </div>
        </div>
    </div>

</div>