<app-header></app-header>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
    
        <h1 class="display-6 font-italic">Experiência perfeita: gastronomia, atividades e acomodações de excelência!</h1>
        <p class="lead my-3">Desfrute de uma experiência completa em nosso hotel, onde a gastronomia refinada encanta o paladar, as atividades cativam e divertem, e as acomodações oferecem conforto absoluto. Delicie-se com pratos elaborados, participe de emocionantes atividades e descanse em quartos acolhedores. Satisfação garantida em todos os aspectos da sua estadia!</p>
    </div>
</div>

<div class="col-10 mx-auto m-5">

    <div class="col-md-12">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h1 class="mb-5 mx-auto">
                    Gastronomia
                </h1>
                <h5 class="card-text mb-auto ">
                    Descubra uma experiência gastronômica inigualável em nosso hotel. Com um cardápio cuidadosamente
                    elaborado por nossos talentosos chefs, oferecemos uma seleção de pratos inspirados na culinária
                    local e
                    internacional. Utilizando ingredientes frescos e sazonais, cada refeição é uma explosão de sabores e
                    texturas que irá encantar seu paladar. Desfrute de uma refeição requintada em nosso elegante
                    restaurante
                    ou aproveite o serviço de quarto para uma experiência mais privativa. No nosso hotel, a gastronomia
                    é
                    uma arte que se saboreia em cada mordida.</h5>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block img-fluid img-thumbnail"
                data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 500px; height: 350px;"
                src="https://media.istockphoto.com/id/1146683159/pt/foto/mini-meat-pastels-on-wood-background.jpg?s=612x612&w=0&k=20&c=HOiIvlfI7P_Ewh06F7e7Qp4o7CxS-duVReFQbu65y3g="
                data-holder-rendered="true">
        </div>
    </div>

    <div class="col-md-12">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h1 class="mb-5 mx-auto">
                    Acomodações
                </h1>
                <h5 class="card-text mb-auto">
                    hospitalidade de um hotel é o que faz a diferença na experiência dos hóspedes. Com uma equipe
                    atenciosa
                    e prestativa, o hotel cria um ambiente acolhedor e amigável. Os funcionários devem estar sempre
                    prontos
                    para ajudar e oferecer informações sobre a área local, recomendações de restaurantes e atrações
                    turísticas. Além disso, o hotel deve oferecer serviços extras, como traslado, serviço de quarto 24
                    horas
                    e academia bem equipada. A decoração e o design dos espaços comuns também são importantes,
                    proporcionando um ambiente elegante e convidativo para os hóspedes relaxarem e desfrutarem de sua
                    estadia.</h5>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block img-fluid img-thumbnail"
                data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="min-width: 500px; height: 350px;"
                src="https://s2.glbimg.com/NO1Mrkp3Z96htIx8_RhrdHTux0w=/e.glbimg.com/og/ed/f/original/2018/03/08/decoracao-de-quarto-cabeceira-suede-rosa-roupa-de-cama-branco-com-rosa-papel-de-parede-florido-romantico-abajur-e-pendente-brancoarquiteta-leticia-arcangeli.jpg"
                data-holder-rendered="true">
        </div>
    </div>

    <div class="col-md-12">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h1 class="mb-5 mx-auto">
                    Atividades
                </h1>
                <h5 class="card-text mb-auto text-xxl">
                    As atividades oferecidas pelo hotel são essenciais para enriquecer a experiência dos hóspedes. Com
                    uma variedade de opções, o hotel pode garantir momentos de diversão e relaxamento para todos. As
                    atividades podem incluir piscinas, academias, spa, salão de jogos e áreas de lazer ao ar livre. Além
                    disso, o hotel pode organizar passeios turísticos, atividades esportivas e eventos temáticos para
                    entreter os hóspedes durante sua estadia. A equipe de entretenimento deve ser animada e experiente,
                    criando um ambiente acolhedor e estimulante. Com um leque de opções, o hotel proporciona momentos
                    inesquecíveis e torna a estadia dos hóspedes ainda mais especial.</h5>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block img-fluid img-thumbnail"
                data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="min-width: 500px; height: 350px;"
                src="https://www.villarossa.com.br/wp-content/uploads/2020/06/piscina-coberta-climatizada-1920x1281.jpg"
                data-holder-rendered="true">
        </div>
    </div>
</div>