<div class="header-background">
    <div class="header-title">
        <div>
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </div>
        <div>
            <a>Acomodações</a>
        </div>
        <div>
           <img src="../../../assets/logoPac-removebg-preview.png" alt="">
        </div>
        <div>
            <a routerLink="/recuperacao">Sobre</a>
        </div> 
        <div>
            <a routerLink="/contato">Contato</a>
        </div> 
    </div>
</div>