<div class="container-fluid p-2 d-flex flex-column border-bottom border-2"  style="background-color: #ffff">
    <div>
        <p class="text-end">login</p>
    </div>
    <div class="col-8 d-flex m-auto justify-content-xxl-around justify-content-xl-around justify-content-lg-around justify-content-md-center justify-content-sm-center align-items-baseline flex-wrap flex-row flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-sm-column">
    <div class="m-2">
        <a routerLink="/homepage" class="h4">Home</a>
    </div>
    <div class="m-2">
        <a  routerLink="/acomodacoes" class="h4">Acomodações</a>
    </div>
    <a class="img d-none d-xxl-block d-xl-block d-lg-none d-md-none d-sm-none" routerLink="/home"><img class="" src="../../../assets/logoPac-removebg-preview.png" alt=""></a>
    <div class="m-2">
        <a  routerLink="/sobre" class="h4">Sobre</a>
    </div>
    <div class="m-2">
        <a  routerLink="" class="h4" routerLink="/contato">Contato</a>
    </div>
</div>
</div>