<app-header></app-header>
<div *ngIf="formulario != null; else loading" class="col-8 mx-auto my-5">
  <form [formGroup]="formulario" #meuFormulario="ngForm">
    <div
      class="d-flex flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-column flex-sm-column justify-content-between">
      <div class="col-12 col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 p-0 my-0">
        <div class="form-group">
          <label for="image">Imagem principal:</label>
          <div class="custom-file">
            <input type="file" id="image" (change)="ArquivoImagemPrincipalNome($event)"
              (change)="ModificarPropriedade()" class="custom-file-input">
            <label class="custom-file-label fileImage" for="image">{{ ImagemPrincipal }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control mr-1" (change)="ModificarPropriedade()" placeholder="Andar" id="Andar"
        name="Andar" formControlName="andar" aria-label="Andar"
        [class.is-invalid]="formulario.controls['andar'].invalid && formulario.controls['andar'].touched" />
      <input type="text" class="form-control ml-1" (change)="ModificarPropriedade()" placeholder="Nome" id="Nome"
        name="Nome" formControlName="nome"
        [class.is-invalid]="formulario.controls['nome'].invalid && formulario.controls['nome'].touched" />
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" (change)="ModificarPropriedade()" placeholder="Numero do quarto"
        id="Numero do quarto" name="Numero do quarto" formControlName="numero" aria-label="Numero do quarto"
        [class.is-invalid]="formulario.controls['numero'].invalid && formulario.controls['numero'].touched" />
    </div>
    <div class="form-outline mb-4">
      <textarea type="text" class="form-control" (change)="ModificarPropriedade()" placeholder="Descrição do quarto"
        id="Descricao" name="Descricao" formControlName="descricao" aria-label="Descricao"></textarea>
    </div>

    <div class="d-flex col-6 mx-auto flex-row justify-content-between align-items-baseline">
      <button type="button" class="btn btn-danger h-25 m-0 btn-block my-5"  routerLink="/administrador">Voltar</button>
      <button type="button" *ngIf="ModificarPropriedade() == true" class="btn btn-success h-25 m-0 btn-block"
        [disabled]="!formulario.valid">Salvar
        alterações</button>
    </div>
  </form>
</div>
<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>