<div class="col-12 d-flex flex-row flex-lxx-row flex-wrap justify-content-center">
<div class="col-5">
<a href="" class="">
<div class="card mt-5 mb-3 col-12 mx-auto">
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top mt-2" alt="Wild Landscape"/>
    <div class="card-body">
      <h5 class="card-title">Acomodação com suíte blablabla</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.
      </p>
    </div>
  </div>
  </a>
</div>
<div class="col-5">
    <a href="" class="">
    <div class="card mt-5 mb-3 col-12 mx-auto">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top mt-2" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">Acomodação com suíte blablabla</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          </p>
        </div>
      </div>
      </a>
    </div>
    <div class="col-5">
        <a href="" class="">
        <div class="card mt-5 mb-3 col-12 mx-auto">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top mt-2" alt="Wild Landscape"/>
            <div class="card-body">
              <h5 class="card-title">Acomodação com suíte blablabla</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.
              </p>
            </div>
          </div>
          </a>
        </div>
        <div class="col-5">
            <a href="" class="">
            <div class="card mt-5 mb-3 col-12 mx-auto">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top mt-2" alt="Wild Landscape"/>
                <div class="card-body">
                  <h5 class="card-title">Acomodação com suíte blablabla</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.
                  </p>
                </div>
              </div>
              </a>
            </div>
            <div class="col-5">
                <a href="" class="">
                <div class="card mt-5 mb-3 col-12 mx-auto">
                    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top mt-2" alt="Wild Landscape"/>
                    <div class="card-body">
                      <h5 class="card-title">Acomodação com suíte blablabla</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                      </p>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col-5">
                    <a href="" class="">
                    <div class="card mt-5 mb-3 col-12 mx-auto">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top mt-2" alt="Wild Landscape"/>
                        <div class="card-body">
                          <h5 class="card-title">Acomodação com suíte blablabla</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                          </p>
                        </div>
                      </div>
                      </a>
                    </div>

                    <div class="col-5">
<a href="" class="">
<div class="card mt-5 mb-3 col-12 mx-auto">
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top mt-2" alt="Wild Landscape"/>
    <div class="card-body">
      <h5 class="card-title">Acomodação com suíte blablabla</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.
      </p>
    </div>
  </div>
  </a>
</div>
<div class="col-5">
    <a href="" class="">
    <div class="card mt-5 mb-3 col-12 mx-auto">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top mt-2" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">Acomodação com suíte blablabla</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          </p>
        </div>
      </div>
      </a>
    </div>
</div>