
@keyframes teste {
    0%{
        background-color: white;
    }
    25%{
        background-color: #d4d4d4;
    }
    100%{
        background-color: #bab9b9;
    }

}

.card:hover{
animation: teste 2.0s;

}
a{
    text-decoration: none;
    color: black;
}
.imageCard{
    height:350px;
    min-width: 100px;
    max-width: 600px;
}