<div class="col-12" style="background-color:gray;font-family: Arial, sans-serif;font-size: 12px; line-height: 1.5;">
    <div class="col-10 mx-auto" style="background-color:white;zoom: 175%;">
        <h3 class="col-10 mx-auto fw-bold">TERMO DE CONSENTIMENTO PARA TRATAMENTO DE DADOS PESSOAIS </h3>
        <p>O BOOKING, empresa privada inscrita no CNPJ sob o número 43.155.751/0001-90 representado pelo sócio, Kauê
            Micael
            Otto, brasileiro, casado, empresário, portador da cédula de identidade RG nº. 38.826.535-8 SSP/SP, inscrito
            no
            CPF/MF nº 445.260.747-05, com endereço profissional à rua Marechal Castelo Branco da Cidade de Schroeder,
            00-47
            - Centro, CEP 89275-000, estado de Santa Catarina doravante denominado(a) CONTROLADOR. </p>
        <p>{{nome}}, brasileiro(a), CPF/MF nº {{cpf}}. doravante denominado(a) TITULAR. </p>
        <blockquote>
            <p>Este termo de consentimento foi elaborado em conformidade com a lei geral de proteção de dados. Consoante
                ao artigo 5º inciso XII da Lei 13.709, este documento viabiliza a manifestação livre, informada e
                inequívoca, pela qual o titular/responsável concorda com o tratamento de seus dados pessoais e os dados
                do menor sob os seus cuidados, para as finalidades a seguir determinadas:</p>
        </blockquote>
        <h3 class="col-10 mx-auto fw-bold">PARÁGRAFO PRIMEIRO - DO CONSENTIMENTO </h3>
        <p>Ao assinar este termo o TITULAR concorda que o CONTROLADOR, proceda com o tratamento de seus dados.</p>
        <p>Entende-se por tratamento de acordo com o artigo 5º inciso X, a coleta, produção, recepção, classificação,
            utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento,
            eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou
            extração.
        </p>
        <h3 class="col-10 mx-auto fw-bold">PARÁGRAFO SEGUNDO - DADOS PESSOAIS </h3>
        <p>Poderão ser tratados mediante anuência expressa do titular/ responsável os seguintes dados pessoais, pelo(a)
            controlador(a): </p>
        <ul>
            <li>Nome, CPF, data de nascimento, telefone,email.</li>
        </ul>

        <h3 class="col-10 mx-auto fw-bold">PARÁGRAFO TERCEIRO - FINALIDADE DO TRATAMENTO </h3>
        <p>Em atendimento ao artigo 8º §4 este termo guarda finalidade determinada, sendo que os dados serão utilizados
            especificamente para fins de: </p>

        <p>Cadastro.</p>
        <ul>
            <li>Reservas do quarto de hotel.</li>
            <li>Realizações de pagamentos.</li>
            <li>Diagnóstico técnico inicial em seu aspecto pedagógico, cognitivo, físico e social.</li>
            <li>Elaboração a aplicação de testes de aptidão.</li>
            <li>Elaboração de relatórios e pareceres informativos.</li>
            <li>Facilitar a prestação de serviços diversos além dos primariamente contratados, desde que o cliente
                também
                demonstre interesse em contratar novos serviços.</li>
        </ul>
        <h3 class="col-10 mx-auto fw-bold">PARÁGRAFO QUARTO - SEGURANÇA DOS DADOS </h3>

        <p>O Controlador responsabiliza-se pela manutenção de medidas de segurança, técnicas e administrativas aptas a
            proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição,
            perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito.</p>

        <p>Local, data. </p>
        <p>_________________________________ </p>
        <p>CONTROLADOR</p>
        <p>_________________________________ </p>
        <p>TITULAR </p>
    </div>
</div>