<div *ngIf="room != undefined; else loop"
  class="col-10 mx-auto d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center mt-5">{{room.name}}</h1>
  <div
    class="col-12 p-0 mt-5 d-flex flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-column flex-sm-column justify-content-center align-items-xxl-start align-items-xl-start align-items-lg-start align-items-md-center align-items-sm-center align-items-center">
    <div class="col-12 mb-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-6 carrossel">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div *ngIf="room.images.length > 0; else semimagem">
          <div class="carousel-inner" *ngFor="let roomUnit of room.images; let ok = index">
            <div class="carousel-item active" *ngIf="ok == 0; else other_content">
              <img [src]="roomUnit.imageBase | base64ToImage" class="d-block mx-auto w-100 img-fluid imageCard"
                alt="...">
            </div>
            <ng-template #other_content>
              <div class="carousel-item">
                <img [src]="roomUnit.imageBase | base64ToImage" class="d-block mx-auto w-100 img-fluid imageCard"
                  alt="...">
              </div>
            </ng-template>
          </div>
        </div>
        <ng-template #semimagem>
          <div class="carousel-item active">
            <img src="../../../assets/sem-foto.jpg" alt="sem imagem" class="d-block mx-auto w-100 img-fluid imageCard">
          </div>
        </ng-template>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-6">
      <div class="col-8 mx-auto">
        <h1 class="text-center">Descrição do quarto</h1>
      </div>
      <p>{{room.description}}</p>
    </div>
  </div>
  <div class="col-6 m-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
      data-bs-whatever="@mdo">Alugar quarto</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Aqui você pode selecionar quantos dias deseja ficar.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loop>
  <div class="col-12 m-auto d-flex align-items-center justify-content-center h-100 w-100">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<!-- Importe as bibliotecas ngx-bootstrap no seu componente -->
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           [datesDisabled]="disabledDates">
  </div>
</div>