<app-header></app-header>
<div *ngIf="room != undefined; else loop"
  class="col-10 mx-auto d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center mt-5">{{room.name}}</h1>
  <div
    class="col-12 p-0 mt-5 d-flex flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-column flex-sm-column justify-content-center align-items-xxl-start align-items-xl-start align-items-lg-start align-items-md-center align-items-sm-center align-items-center">
    <div class="col-12 mb-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-6">
      <div id="carouselExampleIndicators" class="carousel slide"  data-bs-ride="carousel">
        <div *ngIf="room.images.length > 0; else semimagem">
          <div class="carousel-inner carroselTeste" >
            <div class="carousel-item" *ngFor="let roomUnit of room.images; let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
              <img [src]="roomUnit.imageBase | base64ToImage" class="d-block mx-auto w-100 img-fluid imageCard"
                alt="...">
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <ng-template #semimagem>
      <div class="carousel-item active">
        <img src="../../../assets/sem-foto.jpg" alt="sem imagem" class="d-block mx-auto w-100 img-fluid imageCard">
      </div>
    </ng-template>
    </div>
    <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-6">
      <div class="col-8 mx-auto">
        <h1 class="text-center">Descrição do quarto</h1>
      </div>
      <p>{{room.description}}</p>
    </div>
  </div>
  <div class="col-6 m-2">
    <button type="button" *ngIf="idUsuario != 0; else logarConta" class="btn btn-primary" (click)="carregarDatas()" data-bs-toggle="modal" data-bs-target="#exampleModal"
      data-bs-whatever="@mdo">Alugar quarto</button>
      <ng-template #logarConta>
        <button class="btn btn-success"><a style="text-decoration: none; color:white" routerLink="/login">Conectar a minha conta para Alugar</a></button>
      </ng-template>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Aqui você pode selecionar quantos dias deseja ficar.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="ErroData == true">
            Você selecionou um intervalo de datas que contém uma data que não está disponível no meio ou não selecionou nada. Selecione novamente seu intervalo de datas
          </div>
          <div class="modal-body">
            <form>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-xxl-10 col-xl-10 col-lg-10 col-sm-10 col-md-10 form-group">
                    <input type="text"
                          placeholder="Selecione o intervalo de datas para sua reserva"
                          class="form-control"
                          [class.is-invalid] = "ErroData == true"
                          [(bsValue)]="startDate"
                          (bsValueChange)="onDateChange()"
                          bsDaterangepicker
                          [minDate]="Today"
                          [datesDisabled]="listaDatas"
                          [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY' }"
                          >
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" (click)="enviarParaPagamento()" [attr.data-bs-dismiss]="dataValida ? null : 'modal'" class="btn btn-primary">Seguir para alugar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loop>
  <div class="col-12 m-auto d-flex align-items-center justify-content-center h-100 w-100">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>


<!-- <div id="carouselExampleIndicators" class="carousel slide"  data-bs-ride="carousel">
  <div *ngIf="room.images.length > 0; else semimagem">
    <div class="carousel-inner carroselTeste" *ngFor="let roomUnit of room.images; let index = index">
      <div class="carousel-item active" *ngIf="index == 0; else other_content">
        <img [src]="roomUnit.imageBase | base64ToImage" [ngClass]="index === 0 ? 'active' : 'd-none'" class="d-block mx-auto w-100 img-fluid imageCard"
          alt="...">
      </div>
      <ng-template #other_content>
        <div class="carousel-item active">
          <img [src]="roomUnit.imageBase | base64ToImage"  [ngClass]="index != 0 ? 'active' : 'd-none'" class="d-block mx-auto w-100 img-fluid imageCard"
            alt="...">
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #semimagem>
    <div class="carousel-item active">
      <img src="../../../assets/sem-foto.jpg" alt="sem imagem" class="d-block mx-auto w-100 img-fluid imageCard">
    </div>
  </ng-template>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div> -->