<div class="container-fluid col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-sm-12 mt-5 my-5">
  <h2 class="text-center">Cadastre-se</h2>
  <form [formGroup]="formulario" (ngSubmit)="enviarDados()">
    <div class="input-group mb-3">
      <input type="text" class="form-control mr-1" placeholder="Nome" id="nome" name="nome" formControlName="name"
        aria-label="nome"
        [class.is-invalid]="formulario.controls['name'].invalid && formulario.controls['name'].touched">
      <input type="text" class="form-control ml-1" placeholder="Sobrenome" id="sobrenome" name="sobrenome"
        formControlName="surname"
        [class.is-invalid]="formulario.controls['surname'].invalid && formulario.controls['surname'].touched">
    </div>

    <div class="d-flex justify-content-between">
      <div *ngIf="formulario.controls['name'].invalid && formulario.controls['name'].touched" class="alert alert-danger form-group mr-2">
        Insira um nome válido.
      </div>
      <div *ngIf="formulario.controls['surname'].invalid && formulario.controls['surname'].touched" class="alert alert-danger form-group mr-2">
        Insira um sobrenome válido.
      </div>  
    </div>

    
    <div class="input-group mb-3">
      <input type="text" class="form-control mr-1" placeholder="Telefone" id="telefone" name="telefone"
        formControlName="phone" aria-label="telefone"
        [class.is-invalid]="formulario.controls['phone'].invalid && formulario.controls['phone'].touched">
      <input type="text" class="form-control ml-1" placeholder="CPF" id="cpf" name="cpf"
        formControlName="documentNumber" aria-label="cpf"
        [class.is-invalid]="formulario.controls['documentNumber'].invalid && formulario.controls['documentNumber'].touched">  
    </div>

    <div class="d-flex justify-content-between">
      <div *ngIf="formulario.controls['phone'].invalid && formulario.controls['phone'].touched" class="alert alert-danger form-group mr-2">
        Insira um telefone válido.
      </div>
      <div *ngIf="formulario.controls['documentNumber'].invalid && formulario.controls['documentNumber'].touched" class="alert alert-danger form-group mr-2">
        Insira um CPF válido.
      </div>
    </div>

    <div class="form-outline mb-4">
      <input type="text" class="form-control mr-1" placeholder="Email" id="email" name="email" formControlName="email"
        aria-label="email"
        [class.is-invalid]="formulario.controls['email'].invalid && formulario.controls['email'].touched">
      <div *ngIf="formulario.controls['email'].invalid && formulario.controls['email'].touched" class="alert alert-danger form-group mr-2">
        Insira um email válido.
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control mr-1" placeholder="Senha" id="senha" name="senha"
        formControlName="password" aria-label="senha"
        [class.is-invalid]="formulario.controls['password'].invalid && formulario.controls['password'].touched">
      <input type="password" class="form-control ml-1" placeholder="Confirmar Senha" id="confirmarsenha"
        formControlName="confirmarsenha" name="confirmarsenha" aria-label="confirmarsenha"
        [class.is-invalid]="formulario.controls['password'].invalid && formulario.controls['password'].touched">
    </div>
    <div *ngIf="formulario.controls['password'].invalid && formulario.controls['password'].touched" class="alert alert-danger form-group mr-2">
      As senhas não coincidem.
    </div>
    <div class="d-flex flex-row justify-content-between align-items-baseline">
      <button type="button" class="btn btn-primary mx-2 h-25 btn-block" routerLink="/home">Já tenho conta</button>
      <button type="submit" class="btn btn-success h-25 btn-block" [disabled]="!formulario.valid">Cadastrar</button>
    </div>
    <div class="alert alert-danger my-2" role="alert" *ngIf="errorMessage">
      <div class="error-message">
        <span class="error-icon">
          <i class="fas fa-circle"></i>
        </span>
        {{ errorMessage }}
      </div>
    </div>
  </form>
</div>
