
<div class="container">
    <div class="card">
        <div class="card2">
            <h2 class="bv-text">
               <p>Cadastro</p> 
            </h2>
            <form>
            <div>
                <label for="username">Nome:</label>
            
            </div>
            <div>
                <label for="password">Sobrenome:</label>
            
            </div>
            <div>
                <label for="password">Email:</label>
            
            </div>
            <div>
                <label for="password">Senha:</label>
            
            </div>
            <div>
                <label for="password">CPF:</label>
            
            </div>
            <div class="group-button">
                <button type="submit">Cadastrar</button>
            </div>
            </form>
        </div>
    </div>
</div>
