<div class="container-fluid col-8 col-xxl-4 col-xl-4 col-lg-4 col-md-8 col-sm-8 col-sm-8 mt-5">
  <h2 class="text-center">Logue na sua conta</h2>
<form [formGroup]="formulario" (ngSubmit)="enviarDados()">
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email" id="email" name="email" formControlName="email" class="form-control" />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Senha</label>
      <input type="password" id="password" name="password" formControlName="password" id="password" class="form-control" />
    </div>
    <div class="d-flex flex-row justify-content-between align-items-baseline">
      <button type="button" class="btn btn-primary mx-2 h-25 btn-block"> <a routerLink="/signin"> Registrar</a></button>
      <button type="button" class="btn btn-success h-25 btn-block">Entrar</button>  
    </div>
  </form>
</div>