
<div class="container">
    <div class="card">
        <div class="card2">
            <h2 class="bv-text">
               <p>Seja bem vindo ao Booking!</p> 
            </h2>
            <form>
            <div>
                <label for="username">Usuario:</label>
            
            </div>
            <div>
                <label for="password">Senha:</label>
            
            </div>
            <div class="group-button">
                <button type="submit">Sign In</button>
                <button type="submit">Login</button>
            </div>
            </form>
        </div>
    </div>
</div>
