<div class="col-12 col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 mx-auto my-5 p-5">
    <form >
        <div class="input-group">
            <div class="input-group col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
                </div>
                <input type="text" class="form-control p-4" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Sobrenome</span>
                </div>
                <input type="text" class="form-control p-4" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
              </div>
        </div>
        <div class="input-group">
            <div class="input-group col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">CPF</span>
                </div>
                  <input type="text" class="form-control p-4" disabled aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Telefone</span>
                </div>
                  <input type="text" class="form-control p-4" disabled aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
              </div>
        </div> <div class="input-group">
            <div class="input-group col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                </div>
                  <input type="text" class="form-control p-4" disabled aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Senha</span>
                </div>
                  <input type="text" class="form-control p-4" disabled aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
              </div>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-baseline">
            <button type="button" class="btn btn-warning mx-2 h-25 btn-block"><a routerLink="/signin" style="text-decoration: none; color:white">Mudar senha</a></button>
            <button type="button" class="btn btn-success h-25 btn-block">Salvar mudanças</button>  
          </div>
        </form>
</div>